body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 100;
  src: local("Proxima Nova"), url("./fonts/font_100.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 200;
  src: local("Proxima Nova"), url("./fonts/font_200.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: local("Proxima Nova"), url("./fonts/font_300.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova"), url("./fonts/font_400.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  src: local("Proxima Nova"), url("./fonts/font_500.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova"), url("./fonts/font_600.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova"), url("./fonts/font_700.woff2") format("woff2");
}
